.drawerText{
    font-weight:700;
}
.subDrawer1{
    padding:1rem;
    color: #0F346C;
}
.subDrawer1:hover{
    background-color: #0F346C;
    color: white;
}
.login{
    background-color: #e7e7e7;
    color: #0F346C;
    padding: 36.8%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}
.login:hover{
    background-color: #0f346cc0;
    color: white;
}
.signup{
    background-color: #0F346C;
    color: white;
    border: 1px solid #0F346C;
    padding: 35%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}
.avatar{
    display: flex;
    gap: 0.3rem;
    margin-top: 14px;
    margin-bottom: 10px;
}
.cart{
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    color: #0F346C;
}
.logout{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e7e7e7;
    color: #0F346C;
}
.logout:hover{
    background-color: #0f346cc0;
    color: white;
}
.navbarText2{
    display: flex;
    gap: 1rem;
}
.navbarText1{
    display: flex;
    gap: 1rem;
}