#homebg{
        background-image: url('https://i.ibb.co/ZSzjmJk/desktop-splash-v2.webp');
        height:100vh;
        /* margin: 0%; */
        margin-top:'-70px';
        font-size:'50px';
        background-size: cover;
        background-repeat: no-repeat
}

#buttonhome1{
    color: white;
    background-color: #0f346c;
    width: 60%;
    border-radius: 50px;
}

#buttonhome2{
    color: white;
    background-color: #0f346c;
    width: 10%;
    margin: 10px;
    border-radius: 50px;
}


.textName{
    font-size: 50px;
}

/* Tablet */
@media all and (min-width: 425px) and (max-width: 950px){
    #homebg{
        /* background-image: url("https://i.ibb.co/hyv69rg/mobile-splash-v2.webp"); */
        margin-top:-70px;
        background: url('https://i.ibb.co/hyv69rg/mobile-splash-v2.webp') no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
    }

    #homename{
        width: 70%;
        margin: auto;
    }

    #textName{
        font-size: '30px';
    }

    #buttonhome1{
        width: 50%;
        margin: auto;
    }

    #membersub{
       width: 80%;
    }

    #flexBox{
        flex-direction: column;
    }

    #buttonhome2{
        width: 50%;
    }
}

/* Mobile */
@media all and (min-width: 300px) and (max-width: 425px){
    #homebg{
        margin-top:-70px;
        background: url('https://i.ibb.co/hyv69rg/mobile-splash-v2.webp') no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
    }

    #homename{
        width: 70%;
        margin: auto;
    }

    #textName{
        font-size: '30px';
        margin-left: 0%;
    }

    #buttonhome1{
        width: 50%;
        margin: auto;
    }
    
    #flexBox{
        flex-direction: column;
    }
}