#homebg{
        background-image: url('https://i.ibb.co/ZSzjmJk/desktop-splash-v2.webp');
        height: 75vh;
        /* margin-top:'-70px'; */
        /* font-size:'50px'; */
        background-size: cover;
        background-repeat: no-repeat
}

#buttonhome1{
    color: white;
    background-color: #0f346c;
    width: 50%;
    border-radius: 50px;
}

#buttonhome2{
    color: white;
    background-color: #0f346c;
    width: 15%;
    margin: 10px;
    border-radius: 50px;
}

#nameHome{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #0f346c;
    padding: 5%;
}

#flexBox{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-direction: row;
}


.textName{
    font-size: 50px;
}


#weekOption{
    border:"1px solid red";
    padding-top: 50px;
}


/* Tablet */
@media all and (min-width: 425px) and (max-width: 950px){
    #homebg{
        background: url('https://i.ibb.co/hyv69rg/mobile-splash-v2.webp') no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
    }

    #nameHome{
        width: 70%;
        margin: auto;
    }

    #textName{
        font-size: '30px';
    }

    #buttonhome1{
        width: 50%;
        margin: auto;
    }

    #membersub{
       width: 80%;
    }

    #flexBox{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    #buttonhome2{
        width: 50%;
    }
}

/* Mobile */
@media all and (min-width: 300px) and (max-width: 425px){
    #homebg{
        background: url('https://i.ibb.co/hyv69rg/mobile-splash-v2.webp') no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
    }

    #nameHome{
        width: 70%;
        margin: auto;
    }
    
    #textName{
        margin-top: 10%;
        font-size: 30px;
        text-align: center;
    }

    #buttonhome1{
        width: 50%;
        margin: auto;
    }

    #members{
        font-size: 30px;
    }

    #membersub{
       width: 90%;
    }

    #flexBox{
        flex-direction: column;
    }

    #buttonhome2{
        width: 50%;
    }
}