.container {
  /* padding: 3% 0% 3% 7%; */
  padding: 7%;
}
.categoryName {
  color: #b1b0b0;
  font-size: small;
}
.link:hover {
  border-bottom: 1px solid black;
}
.blueLine {
  width: 38px;
  border-bottom: 4px solid #00a0df;
  margin: auto;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sort_filter {
  text-align: right;
}

@media (max-width: 770px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  /* .categoryList{
        grid-template-columns: repeat(3,1fr);
    } */
}
@media (max-width: 670px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .categoryList{
        grid-template-columns: repeat(2,1fr);
    } */
}
@media (max-width: 300px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

