#footer{
    padding: 20px;
    background-color: #0f346c;
    color: white;
}

.footerBox{
    width: 80%;
    margin: auto;
}

.firstDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.footerdetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
}

#detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Tablet */

@media all and (min-width: 425px) and (max-width: 950px){
    .footerBox{
        width:'100%';
        margin:'auto'
    }

    .imageclass{
        width:'50%';
        height: '50%';
    }

    .firstDiv{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }


    .footerdetails{
        flex-direction: column;
        margin-left: 0%;
    }
}

/* Mobile */
@media all and (min-width: 300px) and (max-width: 425px){
    #footer{
        padding: 10px;
    }

    .imageclass{
        width:'100%';
        height: '100%';
    }

    #imgDiv{
        display: flex;
        align-items:center;
        justify-content: center;
    }

    
    .firstDiv{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        
    }

    .flex{
        text-align: center;
        
        border-top: 1px solid gray;
        padding-top: 2%;
    }

    .footerdetails{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    #detail{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}